
/* Your CSS Code here. */
.box1{
	width: 100px;
	height:100px;
	background-color:green;
}
.box2{
	width: 100px;
	height:100px;
	background-color:red;
}
.box3{
	width: 100px;
	height:100px;
	background-color:blue;
}

.container{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}